.big-photo{
    background-image: url(banner.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50%;
    color: aliceblue;
    margin-bottom: 50px;
}
img{
    width: 100%;
}
.hut{
    background-image:linear-gradient(rgba(243, 174, 174, 0.466),rgba(66, 66, 211, 0.356) ), url(the-hut-bg.png);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px 0;
}
.ter{
    
        background-image:linear-gradient(rgba(243, 174, 174, 0.466),rgba(66, 66, 211, 0.356) ), url(the-area.png);
        height: 300px;
        background-size: cover;
        background-position: 50% 50%;
        margin: 50px 0;

}
footer{
    background-color: rgb(193, 243, 187);
    padding-top :30px;
    padding-bottom:  30px;
    margin-top: 50px;
    color: rgb(29, 28, 46)
    }